/* Стилизация кнопки */
.button {
    width: 189px;
    height: 48px;
    border-radius: 8px;
    border-width: 0;
    color: var(--white);
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button--primary {
    background-color: var(--primary-bg);
}

.button--primary:hover {
    background-color: var(--primary-bg-hover);
}

.button--secondary {
    background-color: var(--secondary-bg);
}

.button--secondary:hover {
    background-color: var(--secondary-bg-hover);
}

.button--alternate {
    color: var(--button-alternative-text);
    background-color: var(--alternative-bg);
    border: 1px solid var(--alternative-border);
}

.button--alternate:hover {
    background-color: var( --alternative-bg-hover);
    border-color: var(--alternative-border-hover);
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}