.skeleton {
    width: 100%;
    padding: 24px 40px 32px 24px;
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
}

.skeleton__line {
    width: 100%;
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
}

.skeleton__line + .skeleton__line {
    margin-top: 8px;
}

.skeleton__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.skeleton__logo {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    background: var(--grey-2);
    border-radius: 50%;
}

.skeleton__description {
    width: 70%;
}

.skeleton__line--medium {
    width: 50%;
}